# Artificial Neural Network

### Importing the libraries

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt

C:\Users\tprofetto\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\tprofetto\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\tprofetto\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\tprofetto\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\tprofetto\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\tprofetto\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\tprofetto\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\tprofetto\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\tprofetto\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\tprofetto\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\tprofetto\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\tprofetto\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [3]:
# Importing Data
df = pd.read_csv('./Churn_Modelling.csv')
X = df.iloc[:, 3:-1].values
y = df.iloc[:, -1].values

## Data Analysis and Preprocessing

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [5]:
df.corr()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
RowNumber,1.000000,0.004202,0.005840,0.000783,-0.006495,-0.009067,0.007246,0.000599,0.012044,-0.005988,-0.016571
CustomerId,0.004202,1.000000,0.005308,0.009497,-0.014883,-0.012419,0.016972,-0.014025,0.001665,0.015271,-0.006248
CreditScore,0.005840,0.005308,1.000000,-0.003965,0.000842,0.006268,0.012238,-0.005458,0.025651,-0.001384,-0.027094
Age,0.000783,0.009497,-0.003965,1.000000,-0.009997,0.028308,-0.030680,-0.011721,0.085472,-0.007201,0.285323
Tenure,-0.006495,-0.014883,0.000842,-0.009997,1.000000,-0.012254,0.013444,0.022583,-0.028362,0.007784,-0.014001
Balance,-0.009067,-0.012419,0.006268,0.028308,-0.012254,1.000000,-0.304180,-0.014858,-0.010084,0.012797,0.118533
NumOfProducts,0.007246,0.016972,0.012238,-0.030680,0.013444,-0.304180,1.000000,0.003183,0.009612,0.014204,-0.047820
HasCrCard,0.000599,-0.014025,-0.005458,-0.011721,0.022583,-0.014858,0.003183,1.000000,-0.011866,-0.009933,-0.007138
IsActiveMember,0.012044,0.001665,0.025651,0.085472,-0.028362,-0.010084,0.009612,-0.011866,1.000000,-0.011421,-0.156128
EstimatedSalary,-0.005988,0.015271,-0.001384,-0.007201,0.007784,0.012797,0.014204,-0.009933,-0.011421,1.000000,0.012097
Exited,-0.016571,-0.006248,-0.027094,0.285323,-0.014001,0.118533,-0.047820,-0.007138,-0.156128,0.012097,1.000000

In [4]:
print(X)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [5]:
print(y)

[1 0 1 ... 1 1 0]

### Encoding categorical data

Label Encoding the "Gender" column

In [8]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
X[:,2] = le.fit_transform(X[:, 2])

In [9]:
print(X)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

One Hot Encoding the "Geography" column

In [11]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [12]:
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

### Splitting data Train & Test sets

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2,random_state=0)

### Feature Scaling

In [14]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

## Model Build

In [17]:
# Architecture 
ann = tf.keras.models.Sequential([
    
    tf.keras.layers.Dense(units=6, activation='relu'), # Input Layer
    
    tf.keras.layers.Dense(units=6, activation='relu'), # Second Hidden Layer
    
    tf.keras.layers.Dense(units=1, activation='sigmoid') # Output Layer 
    
])

# Compile Model
ann.compile(optimizer='adam', loss='binary_crossentropy', metrics = ['accuracy'])

WARNING:tensorflow:From C:\Users\tprofetto\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

### Model Training

In [21]:
ann.fit(X_train, y_train, batch_size=32, epochs=100)

WARNING:tensorflow:From C:\Users\tprofetto\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
Epoch 1/100
8000/8000 [==============================] - 1s 186us/sample - loss: 0.5338 - acc: 0.7649
Epoch 2/100
8000/8000 [==============================] - 1s 96us/sample - loss: 0.4571 - acc: 0.7961
Epoch 3/100
8000/8000 [==============================] - 1s 98us/sample - loss: 0.4378 - acc: 0.8035
Epoch 4/100
8000/8000 [==============================] - 1s 107us/sample - loss: 0.4276 - acc: 0.8177
Epoch 5/100
8000/8000 [==============================] - 1s 109us/sample - loss: 0.4217 - acc: 0.8231
Epoch 6/100
8000/8000 [==============================] - 1s 94us/sample - loss: 0.4174 - acc: 0.8242
Epoch 7/100
8000/8000 [==============================] - 1s 95us/sample - loss: 0.4145 - acc: 0.8267
Epoch 8/100
8000/8000 [==============================] - 1s 103us/sample - loss: 0.4121 - acc: 0.8280
Epoch 9/100
8000/8000 [==============================] - 1s 88us/sample - loss: 0.4103 - acc: 0.8295
Epoch 10/100
8000/8000 [==============================] - 1s 88us/sample - loss: 0.4094 - acc: 0.8303
Epoch 11/100
8000/8000 [==============================] - 1s 92us/sample - loss: 0.4083 - acc: 0.8303
Epoch 12/100
8000/8000 [==============================] - 1s 88us/sample - loss: 0.4076 - acc: 0.8322
Epoch 13/100
8000/8000 [==============================] - 1s 89us/sample - loss: 0.4070 - acc: 0.8319
Epoch 14/100
8000/8000 [==============================] - 1s 92us/sample - loss: 0.4063 - acc: 0.8315
Epoch 15/100
8000/8000 [==============================] - 1s 93us/sample - loss: 0.4057 - acc: 0.8335
Epoch 16/100
8000/8000 [==============================] - 1s 92us/sample - loss: 0.4052 - acc: 0.8326
Epoch 17/100
8000/8000 [==============================] - 1s 94us/sample - loss: 0.4047 - acc: 0.8342
Epoch 18/100
8000/8000 [==============================] - 1s 92us/sample - loss: 0.4042 - acc: 0.8336
Epoch 19/100
8000/8000 [==============================] - 1s 92us/sample - loss: 0.4036 - acc: 0.8332
Epoch 20/100
8000/8000 [==============================] - 1s 90us/sample - loss: 0.4032 - acc: 0.8339
Epoch 21/100
8000/8000 [==============================] - 1s 92us/sample - loss: 0.4027 - acc: 0.8329
Epoch 22/100
8000/8000 [==============================] - 1s 88us/sample - loss: 0.4021 - acc: 0.8335
Epoch 23/100
8000/8000 [==============================] - 1s 93us/sample - loss: 0.4014 - acc: 0.8335
Epoch 24/100
8000/8000 [==============================] - 1s 91us/sample - loss: 0.4011 - acc: 0.8345
Epoch 25/100
8000/8000 [==============================] - 1s 104us/sample - loss: 0.4006 - acc: 0.8350
Epoch 26/100
8000/8000 [==============================] - 1s 101us/sample - loss: 0.4003 - acc: 0.8345
Epoch 27/100
8000/8000 [==============================] - 1s 96us/sample - loss: 0.3995 - acc: 0.8351
Epoch 28/100
8000/8000 [==============================] - 1s 89us/sample - loss: 0.3991 - acc: 0.8363
Epoch 29/100
8000/8000 [==============================] - 1s 95us/sample - loss: 0.3984 - acc: 0.8365
Epoch 30/100
8000/8000 [==============================] - 1s 92us/sample - loss: 0.3980 - acc: 0.8367
Epoch 31/100
8000/8000 [==============================] - 1s 92us/sample - loss: 0.3975 - acc: 0.83560s - loss: 0.4143
Epoch 32/100
8000/8000 [==============================] - 1s 91us/sample - loss: 0.3972 - acc: 0.8363
Epoch 33/100
8000/8000 [==============================] - 1s 96us/sample - loss: 0.3962 - acc: 0.8364
Epoch 34/100
8000/8000 [==============================] - 1s 89us/sample - loss: 0.3956 - acc: 0.8367
Epoch 35/100
8000/8000 [==============================] - 1s 92us/sample - loss: 0.3951 - acc: 0.8372
Epoch 36/100
8000/8000 [==============================] - 1s 94us/sample - loss: 0.3939 - acc: 0.8384
Epoch 37/100
8000/8000 [==============================] - 1s 89us/sample - loss: 0.3930 - acc: 0.8359
Epoch 38/100
8000/8000 [==============================] - 1s 90us/sample - loss: 0.3913 - acc: 0.8375
Epoch 39/100
8000/8000 [==============================] - 1s 91us/sample - loss: 0.3896 - acc: 0.8376
Epoch 40/100
8000/8000 [==============================] - 1s 95us/sample - loss: 0.3872 - acc: 0.83960s - loss: 0.3457
Epoch 41/100
8000/8000 [==============================] - 1s 92us/sample - loss: 0.3839 - acc: 0.8413
Epoch 42/100
8000/8000 [==============================] - 1s 94us/sample - loss: 0.3801 - acc: 0.8457
Epoch 43/100
8000/8000 [==============================] - 1s 90us/sample - loss: 0.3753 - acc: 0.8474
Epoch 44/100
8000/8000 [==============================] - 1s 94us/sample - loss: 0.3685 - acc: 0.8493
Epoch 45/100
8000/8000 [==============================] - 1s 97us/sample - loss: 0.3624 - acc: 0.8509
Epoch 46/100
8000/8000 [==============================] - 1s 115us/sample - loss: 0.3567 - acc: 0.8535
Epoch 47/100
8000/8000 [==============================] - 1s 103us/sample - loss: 0.3527 - acc: 0.8556
Epoch 48/100
8000/8000 [==============================] - 1s 92us/sample - loss: 0.3497 - acc: 0.8568
Epoch 49/100
8000/8000 [==============================] - 1s 89us/sample - loss: 0.3472 - acc: 0.8590
Epoch 50/100
8000/8000 [==============================] - 1s 93us/sample - loss: 0.3456 - acc: 0.8591
Epoch 51/100
8000/8000 [==============================] - 1s 88us/sample - loss: 0.3443 - acc: 0.8605
Epoch 52/100
8000/8000 [==============================] - 1s 92us/sample - loss: 0.3426 - acc: 0.8609
Epoch 53/100
8000/8000 [==============================] - 1s 95us/sample - loss: 0.3423 - acc: 0.8584
Epoch 54/100
8000/8000 [==============================] - 1s 95us/sample - loss: 0.3416 - acc: 0.8612
Epoch 55/100
8000/8000 [==============================] - 1s 99us/sample - loss: 0.3404 - acc: 0.8612
Epoch 56/100
8000/8000 [==============================] - 1s 95us/sample - loss: 0.3405 - acc: 0.8604
Epoch 57/100
8000/8000 [==============================] - 1s 95us/sample - loss: 0.3401 - acc: 0.8616
Epoch 58/100
8000/8000 [==============================] - 1s 91us/sample - loss: 0.3397 - acc: 0.8606
Epoch 59/100
8000/8000 [==============================] - 1s 96us/sample - loss: 0.3392 - acc: 0.8608
Epoch 60/100
8000/8000 [==============================] - 1s 93us/sample - loss: 0.3387 - acc: 0.8600
Epoch 61/100
8000/8000 [==============================] - 1s 92us/sample - loss: 0.3387 - acc: 0.8599
Epoch 62/100
8000/8000 [==============================] - 1s 93us/sample - loss: 0.3380 - acc: 0.8611
Epoch 63/100
8000/8000 [==============================] - 1s 90us/sample - loss: 0.3379 - acc: 0.8612
Epoch 64/100
8000/8000 [==============================] - 1s 91us/sample - loss: 0.3375 - acc: 0.8609
Epoch 65/100
8000/8000 [==============================] - 1s 91us/sample - loss: 0.3367 - acc: 0.8618
Epoch 66/100
8000/8000 [==============================] - 1s 95us/sample - loss: 0.3367 - acc: 0.8616
Epoch 67/100
8000/8000 [==============================] - 1s 108us/sample - loss: 0.3364 - acc: 0.8611
Epoch 68/100
8000/8000 [==============================] - 1s 125us/sample - loss: 0.3364 - acc: 0.8612
Epoch 69/100
8000/8000 [==============================] - 1s 93us/sample - loss: 0.3365 - acc: 0.8620
Epoch 70/100
8000/8000 [==============================] - 1s 89us/sample - loss: 0.3362 - acc: 0.8620
Epoch 71/100
8000/8000 [==============================] - 1s 88us/sample - loss: 0.3362 - acc: 0.8608
Epoch 72/100
8000/8000 [==============================] - 1s 90us/sample - loss: 0.3358 - acc: 0.8611
Epoch 73/100
8000/8000 [==============================] - 1s 94us/sample - loss: 0.3355 - acc: 0.8618
Epoch 74/100
8000/8000 [==============================] - 1s 91us/sample - loss: 0.3355 - acc: 0.8610
Epoch 75/100
8000/8000 [==============================] - 1s 89us/sample - loss: 0.3353 - acc: 0.8626
Epoch 76/100
8000/8000 [==============================] - 1s 90us/sample - loss: 0.3355 - acc: 0.8616
Epoch 77/100
8000/8000 [==============================] - 1s 87us/sample - loss: 0.3353 - acc: 0.8615
Epoch 78/100
8000/8000 [==============================] - ETA: 0s - loss: 0.3358 - acc: 0.861 - 1s 100us/sample - loss: 0.3350 - acc: 0.8609
Epoch 79/100
8000/8000 [==============================] - 1s 93us/sample - loss: 0.3352 - acc: 0.8615
Epoch 80/100
8000/8000 [==============================] - 1s 90us/sample - loss: 0.3351 - acc: 0.8615
Epoch 81/100
8000/8000 [==============================] - 1s 96us/sample - loss: 0.3350 - acc: 0.8602
Epoch 82/100
8000/8000 [==============================] - 1s 91us/sample - loss: 0.3346 - acc: 0.8629
Epoch 83/100
8000/8000 [==============================] - 1s 89us/sample - loss: 0.3343 - acc: 0.8620
Epoch 84/100
8000/8000 [==============================] - 1s 96us/sample - loss: 0.3344 - acc: 0.8615
Epoch 85/100
8000/8000 [==============================] - 1s 95us/sample - loss: 0.3343 - acc: 0.8620
Epoch 86/100
8000/8000 [==============================] - 1s 88us/sample - loss: 0.3342 - acc: 0.8614
Epoch 87/100
8000/8000 [==============================] - 1s 87us/sample - loss: 0.3335 - acc: 0.8631
Epoch 88/100
8000/8000 [==============================] - 1s 114us/sample - loss: 0.3345 - acc: 0.8609
Epoch 89/100
8000/8000 [==============================] - 1s 104us/sample - loss: 0.3338 - acc: 0.8624
Epoch 90/100
8000/8000 [==============================] - 1s 96us/sample - loss: 0.3338 - acc: 0.8608
Epoch 91/100
8000/8000 [==============================] - 1s 95us/sample - loss: 0.3336 - acc: 0.8618
Epoch 92/100
8000/8000 [==============================] - 1s 89us/sample - loss: 0.3337 - acc: 0.8620
Epoch 93/100
8000/8000 [==============================] - 1s 91us/sample - loss: 0.3339 - acc: 0.8627
Epoch 94/100
8000/8000 [==============================] - 1s 94us/sample - loss: 0.3337 - acc: 0.8624
Epoch 95/100
8000/8000 [==============================] - 1s 94us/sample - loss: 0.3335 - acc: 0.8619
Epoch 96/100
8000/8000 [==============================] - 1s 92us/sample - loss: 0.3333 - acc: 0.8625
Epoch 97/100
8000/8000 [==============================] - 1s 92us/sample - loss: 0.3335 - acc: 0.8625
Epoch 98/100
8000/8000 [==============================] - 1s 95us/sample - loss: 0.3331 - acc: 0.8626
Epoch 99/100
8000/8000 [==============================] - 1s 95us/sample - loss: 0.3331 - acc: 0.8629
Epoch 100/100
8000/8000 [==============================] - 1s 91us/sample - loss: 0.3329 - acc: 0.8635

## Model Evaluation & Predictions

### Predicting the result of a single observation

Use our ANN model to predict if the customer with the following informations will leave the bank: 

Geography: France

Credit Score: 600

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: \$ 60000

Number of Products: 2

Does this customer have a credit card? Yes

Is this customer an Active Member: Yes

Estimated Salary: \$ 50000

So, should we say goodbye to that customer?

In [22]:
# Prediction
print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5)

[[False]]

The model predicts that thec customer with these features will STAY at the bank...

### Predicting the Test set results

In [23]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

### Confusion Matrix

In [24]:
# Model Evalutaion

from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1537   58]
 [ 218  187]]

0.862